include ../components/mixin.pug
include ../components/data.pug

doctype html
html(lang="ru")
    head
        title #{title} 
    body
        block header
            header
                h1= title

        div.container
            block nav

            block gallery

            block content
            
        block footer
            footer
                hr
                p="Ковалёв И.А. 2025 Б9123-09.03.04"