block variables
- var title = 'MUSICLAB'
    -
        var dictMenu = {'Главная': 'index.html', 
                'GMCMVP' : "gmcmvp.html",
                'Тренды' : "#",  
                'Новинки': "#", 
                'О нас': "#"
        }
        
    -   var listImagesLinks = {'filki.jpg' : 'gmcmvp.html', 'mt.jpg' : 'gmcmvp.html', 'angelcore.png' : 'gmcmvp.html', 'gmcmvp.jpg' : 'gmcmvp.html', 'The_Weeknd_-_Blinding_Lights.png' : 'gmcmvp.html'}

    -   var listImages = ['filki.jpg', 'mt.jpg', 'angelcore.png', 'gmcmvp.jpg', 'The_Weeknd_-_Blinding_Lights.png']

    -
        const cardsData = [
            {
                type: 'lime',
                image: require("../images/img1.jpg"),
                title: 'Платина, PLOHOYPAREN - Филки',
                description: 'Свежий лонч от Платины и Плохого Парня',
                link: '#',
                imagePosition: 'top'
            },
            {
                type: 'white',
                image: require("../images/img1.jpg"),
                title: 'Whole Lotta Swag - Moscow Type',
                description: 'И снова парень из Тамбова со своим новым EP',
                link: '#',
                imagePosition: 'bottom'
            },
            {
                type: 'white',
                image: require("../images/img1.jpg"),
                title: 'Post Malone and Swae Lee - Sunflower',
                description: 'По данным на 16 сентября 2025 года имеет 3.960 миллиардов стримов в Spotify.',
                link: '#',
                imagePosition: 'top'
            },
            {
                type: 'lime',
                image: require("../images/img1.jpg"),
                title: 'Friengly Thug 52 NGG - GMC MVP',
                description: 'На 12 октября 2025 года, альбом «GMC MVP» рэп-исполнителя Friendly Thug 52 NGG насчитывает более 54,27 миллиона стримов в Spotify.',
                link: '#',
                imagePosition: 'bottom'
            }
        ]

    -
        const blocksData = [
            {
                type: 'bottom',
                image: require("../images/img1.jpg"),
                title: 'Blinding Lights',
                description: 'Blinding Lights - песня канадского певца и автора песен The Weeknd с его четвертого студийного альбома After Hours (2020). По данным на 16 сентября 2025 года имеет 5.035 миллиардов стримов в Spotify.',
                link: '#',
                textPosition: 'rtext',
                imagePosition: 'pl'
            },
            {
                type: 'top',
                image: require("../images/img1.jpg"),
                title: 'Blinding Lights',
                description: 'Blinding Lights - песня канадского певца и автора песен The Weeknd с его четвертого студийного альбома After Hours (2020). По данных на 16 сентября 2025 года имеет 5.035 миллиардов стримов в Spotify.',
                link: '#',
                textPosition: 'ltext',
                imagePosition: 'pr'
            }
        ]

    -
        const contmidData = {
            title: 'Топ 100 самых прослушиваемых треков на Spotify',
            description: 'Вашему вниманию топ 100 треков по прослушиваниям на Spotify. По информации на 2024 год, Spotify — самый популярный стриминговый сервис музыки в мире. Его доля на рынке составляла 31,7%.',
            link: '#',
            linkText: 'Подробнее»'
        }
    